<div layout="vertical" layout-fill>

  <md-content>
    <header>
      <acme-navbar creation-date="main.creationDate"></acme-navbar>
    </header>

    <section class="jumbotron">
      <h1>Plano de Negócios Agro Peso </h1>
      <p class="lead">
        <md-icon md-svg-icon="assets/images/lg_White_64px.svg" ng-style="{'min-width': '248px','min-height':'248px'}">

        </md-icon><br>
        Controle e rastriabilidade de sua produção .
      </p>
      <md-button class="md-raised animated infinite" ng-class="main.classAnimation" ng-click="main.showToastr()">Splendid Toastr</md-button>
      <p>
        Optimus agredece  os alunos da UFSC:
        <acme-malarkey extra-values="['Diogo Henrique', 'Alan Ensina', 'Luiz Fernando','Eric','Lucas']"></acme-malarkey>
      </p>
    </section>

    <div class="techs" layout-align="center">
      <md-card ng-repeat="awesomeThing in main.awesomeThings | orderBy:'rank'">
        <md-card-content>
          <img class="pull-right" ng-src="assets/images/{{ awesomeThing.logo }}" alt="{{ awesomeThing.title }}">
          <h3 class="md-title">{{ awesomeThing.title }}</h3>
          <p>{{ awesomeThing.description }}</p>
        </md-card-content>
        <div class="md-action-buttons">
          <md-button ui-sref="tabs">ler tudo</md-button>
        </div>
      </md-card>
    </div>
  </md-content>

</div>
